*{
	/*background:#fff;*/
	font-family: Arial;
	color:#1d2324;
	}
/*table,tr,td, th{
	border: 1px solid #0b96db;
	border-collapse: collapse;
}*/
#HeaderHighlights, #HeaderHighlights td{
	width:100%;
	background-color:#eee;
	text-align: center;
	/*background-color: #c7f1ff;*/
}
#header{
	border-collapse: collapse;
	font-size: 15px;
	text-align: left;
}
h1{
	/*background: #c7f1ff; */
	font-size: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	}
h1 span{
	/*background: #c7f1ff;*/
	font-size: 20px;
	line-height: 0px;
	text-decoration: underline;
	}
#header th{
	width: 100%;
	/*background-color: #c7f1ff;*/
	border-collapse: collapse;
	background-image: url("Border1.png");
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
  	position: relative;
}
#Myprofile{
	/*background-color: #c7f1ff;*/
	/*float: left;*/
	padding-right:0px;
	border: 3px solid #fff;
	box-shadow:  0 0 7px 5px rgba(0,0,0,0.1);
	border-radius:100px;
}
#Highlights{
	text-align: center;
	background-color:#eee;
	}
#Highlightsheader{
	text-align: center;
	font-size: 13px;
	padding-left: 20px;
	padding-right: 20px;
	background-color:#eee;
	padding-top: 20px;
}
#HighlightsTable{
	text-align: center;
	background-color:#eee;
	font-size: 18px;
	width:100%;
}
#HighlightsTable table, #HighlightsTable tr, #HighlightsTable td{
	background-color:#eee;
	text-align: left;
	font-size: 12px;
	padding-left: 30px;
	padding-bottom: 40px;
	padding-top: 20px;
}
.highlightstick{
	background-color:#eee;
}
#mybadgestable{
		padding-top:30px;
		padding-bottom:30px;
		margin-right: auto;
		margin-left: auto;	
}
#mybadgestable td{
		margin-right: auto;
		margin-left: auto;
		width:130px;
}

#MySkillsHeader{
	text-align: center;
	font-size: 20px;
	text-decoration: underline;
}
#Skills{
	padding-top: 10px;
	padding-bottom: 20px;
	
}
.SkillsList{
	border: 1px solid #e1e3e1;
	box-shadow:  0 0 7px 5px rgba(0,0,0,0.1);
	border-radius:10px;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	padding-top: 10px;
	padding-bottom:30px;
}
#Myskillouttable1{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}
#Myskillouttable2{
	width:75%;
	margin-left: auto;
	margin-right: auto;	
}
#Myskillouttable1 td{
	padding-top:30px;
	padding-bottom:10px;
}
#Myskillouttable2 td{
	padding-top:30px;
	padding-bottom:20px;
}
.SkillHeading{
	Text-align: center;
	font-weight: bold;
	font-size: 15px;
	padding-bottom:10px;
	padding-top:10px
}
.skilldetails{
	font-weight: normal;
	font-size: 13px;	
}
footer{
	font-size: 13px;
	color:black;
	text-align:center;
	background-color: #c7f1ff;
	Padding:30px;
	
}
